{% extends 'main/base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content2 %}
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                {% block content3 %}

                {% endblock content3 %}
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form method="post" enctype="multipart/form-data">
                                {%csrf_token %}
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input name="titleBlog" type="text" class="form-control" placeholder='Search Title'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Title'">
                                        <div class="input-group-append">
                                            <button class="btns" type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Sections</h4>
                            <ul class="list cat-list">
                                <form method="get" enctype="multipart/form-data" name="section">
                                    {% for section in sections %}
                                        <li>
                                            <button value="{{ section.id }}" name="section" class="d-flex">
                                                <p>{{ section.name }}</p>
                                                <p> &nbsp;({{ section.blogs.all.count }} Article{{ section.blogs.all.count|pluralize }})</p>
                                            </button>
                                        </li>
                                    {% endfor %}
                                </form>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            {% for recent_post in recent_posts %}
                                <div class="media post_item">
                                    <img src="{% static 'main/assets/img/post/post_1.png' %}" alt="post">
                                    <div class="media-body">
                                        <a href="{% url 'blog:blog' recent_post.id %}">
                                            <h3>{{ recent_post.blog_title }}</h3>
                                        </a>
                                        <p>January 12, 2019</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content2 %}