{% extends 'blog/blog_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content2 %}
      <div class="col-lg-8 posts-list">
         <div class="single-post">
            <div class="feature-img">
               <img class="img-fluid" src="{% static 'main/assets/img/blog/single_blog_1.png' %}" alt="">
            </div>
            <div class="blog_details">
               <h2>{{ data.blog_title }}</h2>
               <ul class="blog-info-link mt-3 mb-4">
                  <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                  <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
               </ul>
               <p class="excert">{{ data.blog }}</p>
            </div>
         </div>
         <div class="navigation-top">
            <div class="d-sm-flex justify-content-between text-center">
               <div class="col-sm-4 text-center my-2 my-sm-0">
                  <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
               </div>
               <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
               </ul>
            </div>
            <div class="navigation-area">
               <div class="row">
                  <div
                     class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                     <div class="thumb">
                        <a href="#">
                           <img class="img-fluid" src="{% static 'main/assets/img/post/preview.png' %}" alt="">
                        </a>
                     </div>
                     <div class="arrow">
                        <a href="#">
                           <span class="lnr text-white ti-arrow-left"></span>
                        </a>
                     </div>
                     <div class="detials">
                        <p>Prev Post</p>
                        <a href="#">
                           <h4>Space The Final Frontier</h4>
                        </a>
                     </div>
                  </div>
                  <div
                     class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                     <div class="detials">
                        <p>Next Post</p>
                        <a href="#">
                           <h4>Telescopes 101</h4>
                        </a>
                     </div>
                     <div class="arrow">
                        <a href="#">
                           <span class="lnr text-white ti-arrow-right"></span>
                        </a>
                     </div>
                     <div class="thumb">
                        <a href="#">
                           <img class="img-fluid" src="{% static 'main/assets/img/post/next.png' %}" alt="">
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="blog-author">
            <div class="media align-items-center">
               <div class="media-body">
                  <a>
                     <h3>Comments Area</h3>
                  </a>
                  <p>You can read All blog comments and write other ones too</p>
               </div>
            </div>
         </div>
         <div class="comments-area">
            <h4>05 Comments</h4>
             {% for comment in comments %}
                <div class="comment-list">
                   <div class="single-comment justify-content-between d-flex">
                      <div class="user justify-content-between d-flex">
                         <div class="thumb">
                            <img src="{% static 'main/assets/img/comment/comment_1.png' %}" alt="">
                         </div>
                         <div class="desc">
                            <p class="comment">{{ comment.comment_text }}</p>
                            <div class="d-flex justify-content-between">
                               <div class="d-flex align-items-center">
                                  <h5>
                                     <a>{{ comment.your_name }}</a>
                                  </h5>
                                  <p class="date">December 4, 2017 at 3:12 pm </p>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             {% endfor %}
         </div>
         <div class="comment-form">
            <h4>Leave a Comment</h4>
            <form method="post" enctype="multipart/form-data" class="form-contact comment_form" id="commentForm">
               {%csrf_token %}
               <div class="row">
                  <div class="col-12">
                     <div class="form-group">
                        <textarea class="form-control w-100" name="comment_text" id="comment" cols="30" rows="9"
                           placeholder="Type Your Comment" value="{{ comment_text }}" required></textarea>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        <input class="form-control" name="your_name" id="name" type="text" placeholder="Your Name" value="{{ your_name }}" required>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <button type="submit" class="button button-contactForm btn_1 boxed-btn">Add Comment</button>
               </div>
            </form>
         </div>
      </div>
{% endblock content2 %}