{% extends 'blog/blog_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content2 %}

    <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="blog_left_sidebar">
            {% if page_obj %}
                {% for data in page_obj %}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'main/assets/img/blog/single_blog_1.png' %}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>{{ data.timestamp|date:"d" }}</h3>
                                <p>{{ data.timestamp|date:"F" }}</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="{% url 'blog:blog' data.id %}">
                                <h2>{{ data.blog_title }}</h2>
                            </a>
                            <p>{{ data.blog }}</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-cog"></i> {{ data.section }}</a></li>
                                {% for comment in comments %}
                                    {% if comment.blog_id == data.id %}
                                        <li><a href="#"><i class="fa fa-comments"></i>{{ forloop.counter }} Comment{{ forloop.counter|pluralize }}</a></li>
                                    {% else %}
                                        <li><a href="#"><i class="fa fa-comments"></i>0 Comment</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                {% endfor %}

                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page=1" class="page-link" aria-label="Previous">First</a>
                            </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item">
                                    <a href="?page={{ num }}" class="page-link" aria-label="Previous">{{ num }}</a>
                                </li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item">
                                    <a href="?page={{ num }}" class="page-link" aria-label="Previous">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor%}
                        {% if page_obj.has_next %}
                             <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Previous">Next</a>
                             </li>
                             <li class="page-item">
                                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" aria-label="Previous">Last</a>
                             </li>
                        {% endif %}
                    </ul>
                </nav>
            {% else %}
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <h1>No Blog Found</h1>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content2 %}
