{% extends 'main/base2.html' %}
{% load static %}

{% block content2 %}
<!-- About Area Start -->
        {% if abouts %}
            <section class="support-company-area fix pt-10 section-padding30">
                <div class="support-wrapper align-items-end">
                     {% for about in abouts %}
                        <div class="left-content">
                            <!-- section tittle -->
                            <div class="section-tittle section-tittle2 mb-55">
                                <div class="front-text">
                                    <h2 class="">Who we are</h2>
                                </div>
                                <span class="back-text">About us</span>
                            </div>
                            <div class="support-caption">
                                {% if about.title %}
                                    <p class="pera-top">{{ about.title }}</p>
                                {% endif %}
                                <medium>{{ about.content }}</medium>
                            </div>
                        </div>
                        <div class="right-content">
                            <!-- img -->
                            <div class="right-img">
                                <img src="{% static 'main/assets/img/gallery/safe_in.jpg' %}" alt="">
                            </div>
                            <div class="support-img-cap text-center">
                                <span>{{ about.since }}</span>
                                <p>Since</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
        <!-- About Area End -->
        <!-- Team Start -->
        {% if teams %}
            <div class="team-area section-padding30">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle5 mb-50">
                                <div class="front-text">
                                    <h2 class="">Our team</h2>
                                </div>
                                <span class="back-text">experts</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for team in teams %}
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                                <div class="single-team mb-30">
                                    <div class="team-img">
                                        <img src="{{ team.photo }}" alt="">
                                    </div>
                                    <div class="team-caption">
                                        <span>{{ team.occupation }}</span>
                                        <h3>{{team.name }}</h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- Team End -->
{% endblock content2 %}